<!-- source/users/show.html.erb -->

<!-- Access data.users with name's name as key -->

<!-- Inject user data in template -->
<%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
<p><%= user.name %></p>
<h1><%= user.tagline %></h1>
<p><%= user.location %></p>


